h1{
    text-align: center;
}
p{
    text-align: center;
}
li:hover{
    background-color: rgb(107, 213, 255);
}
li:active{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    transition: all 1.0s ease-out;
}